{
  "env": {
    "browser": true,
    "es6": true,
    "jest": true
  },
  "globals": {
    "SpeechRecognition": "readonly",
    "webkitSpeechRecognition": "readonly"
  },
  "extends": ["airbnb-base", "plugin:prettier/recommended"],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "rules": {
    "no-unused-vars": "warn",
    "import/prefer-default-export": "off"
  }
}
